.season-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.season-title {
  margin: 0;
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
.season-subtitle {
  margin: 0;
}

.season-content {
  margin-top: 16px;
}
.season-duration {
  font-size: 10px;
}
.season-icon {
  font-size: 64px;
  padding: 8px;
}

hr {
  width: 100%;
}
