.season-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.season-title {
  margin: 0;
}

.season-subtitle {
  margin: 0;
}

.season-content {
  margin-top: 16px;
}

.season-icon {
  font-size: 64px;
  padding: 8px;
}

hr {
  width: 100%;
}
